$dark-color: #0b0a0f;
$secondary-color: #44358a;
$primary-color: #884dff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}
.hero-about {
  background: $dark-color;
  font-family: "Poppins";
  height: 200vh;

  .first-about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    h1 {
      position: absolute;
      left: 11%;
      top: 10%;
      
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 158px;
      
      background: linear-gradient(84.88deg, #7825FF 4.31%, #FF3E9B 134.64%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
    .about-me {
      position: absolute;
      width: 37%;
      left: 12%;
      top: 42%;
      text-align: center;
      font-size: 30px;
      color: #d7d7d7;
    }
    .line{
      width: 1%;
      height: 40%;
    }
    .line1{
      position: absolute;
      left: 2%;
      top: 67%;
    }
    .line2{
      position: absolute;
      top: 60%;
      left: 5%;
    }
    .line3{
      position: absolute;
      top: 52%;
      left: 8%;
    }

    .img-container {
      position: absolute;
      top: 38%;
      right: 15%;

      .featured-img {
        position: relative;

        img {
          width: 25rem;
          height: auto;
          display: block;
        }

        &:hover {
          &:before {
            bottom: 3rem;
            right: 4rem;
          }

          &:after {
            top: 3rem;
            left: 4rem;
          }
        }

        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: -1;
          transition: 0.3s ease;
        }

        &:before {
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAU0lEQVQoU43QMRYAEQwE0ExHyf3vqNxybF6wRIpNZ3whIL74UJDh4zNQpFWTSMOx9y0m0m6FdmDDBnc073QYIQqwweDxa5jR+Zru+gUNCvkPvrgDcCIgJ6cWP4UAAAAASUVORK5CYII=)
            repeat;
          bottom: 2rem;
          right: 2rem;
        }

        &:after {
          background: #00fff7;
          top: 2rem;
          left: 2rem;
        }
      }
    }
  }

  .second-about{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    position: absolute;
    .information{
      position: relative;
      left: 25%;
      color: #d2d2d2;

      .skills{
        h2{
          font-size: 40px;
        }
        .sk{
          margin-left: 20px;
          font-size: 30px;
        }
      }
      .tools{
        margin-top: 2%;
        h2{
          font-size: 40px;
        }
        .main-grid{
          margin-left: 20px;
          display: grid;
          align-items: center;
          grid-template-columns: repeat(4, 1fr);
          font-size: 30px;
        }
      }
      .exp{
        margin-top: 2%;
        h2{
          font-size: 40px;
        }
        p{
          margin-left: 20px;
          font-size: 22px;
        }
      }
      .sometimes{
        margin-top: 2%;
        h2{
          font-size: 40px;
        }
        .smt{
          margin-left: 20px;
          font-size: 30px;
          display: grid;
          grid-template-columns: 1fr .6fr 1.1fr 1.6fr 1.8fr;
        }
      }
    }

    .line{
      width: 1%;
      height: 40%;
    }

    .Circ_{
      position: absolute;
      bottom: 10%;
      left: 3%;
      height: 25%;
    }
    .line4{
      position: absolute;
      left: 3%;
      top: 10%;
    }
    .line5{
      position: absolute;
      left: 7%;
      top: 15%;
    }
    .line6{
      position: absolute;
      left: 11%;
      top: 23%;
    }
  }

}
