*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.hero-about{
    background: #005dff;
    .about-sec{
        height: 100vh;
        padding: 10em;
    }
}