$btn-width: 125px;
$btn-height: 45px;
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

$colors: (
  up: #7d19bc,
);

.hero-contact {
  height: 100vh;
  width: 100vw;
  background-color: #121113;

  .contact-form {
    height: 70%;
    width: 82%;
    background: #1d1c1d;
    position: absolute;
    left: 8%;
    top: 15%;

    form {
      width: 60%;
      height: 100%;
      position: absolute;
      left: 40%;
      display: flex;
      justify-content: center;
      align-items: center;

      .input-info {
        position: absolute;
        opacity: 0.8;
        bottom: 0px;
        left: 55px;
        top: 45px;


        h2 {
          font-size: 2em;
          font-weight: 900;
          font-family: "Poppins";
          color: #a347ff;
        }

        span {
          font-size: 2em;
          font-weight: 400;
          font-family: "Poppins";
          color: #fff;
        }
      }

      .input-container {
        position: relative;
        display: grid;
        width: 100%;
        padding: 0 50px 0 50px;
        grid-gap: 30px;
        grid: auto / 50% auto;

        .input-field-name {
          position: relative;
          padding: 12px;
          width: 100%;
          font-family: "Poppins";

          label {
            user-select: none;
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px;
            color: #353436;
            transition: 0.2s all;
            cursor: text;
          }
          input {
            width: 100%;
            border: 0;
            outline: 0;
            padding: 0.5rem 0;
            border-bottom: 2px solid #353436;
            background: transparent;
            box-shadow: none;
            color: #fff;
            font-family: inherit;
          }
        }

        .input-field-email {
          position: relative;
          width: 100%;
          padding: 10px;
          font-family: "Poppins";

          label {
            user-select: none;
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px;
            color: #353436;
            transition: 0.2s all;
            cursor: text;
          }
          input[type="email"] {
            width: 100%;
            border: 0;
            outline: 0;
            padding: 0.5rem 0;
            border-bottom: 2px solid #353436;
            background: transparent;
            box-shadow: none;
            color: #fff;
            font-family: inherit;
          }
        }

        .input-field-msg {
          position: relative;
          padding: 10px;
          font-family: "Poppins";
          grid-column: 1 / span 2;

          label {
            user-select: none;
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px;
            color: #353436;
            transition: 0.2s all;
            cursor: text;
          }
          textarea {
            width: 100%;
            resize: none;
            border: 0;
            outline: 0;
            padding: 0.5rem 0;
            border-bottom: 2px solid #353436;
            background: transparent;
            box-shadow: none;
            color: #fff;
            font-family: inherit;
          }
        }

        .form__input:focus ~ .form__label,
        .form__input:not(:placeholder-shown).form__input:not(:focus)
          ~ .form__label {
          font-size: 14px;
          top: -24px;
          color: #5e5e5f; // teext color
        }

      }
      .BtnParent {
        position: absolute;
        bottom: 10%;
        left: 55px;

        .up:hover,
        .up:focus {
          box-shadow: inset 0 -3.25em 0 0 var(--hover);
        }

        @each $button, $color in $colors {
          .#{$button} {
            --color: #{$color};
            --hover: #{adjust-hue($color, 45deg)};
          }
        }

        button {
          color: var(--color);
          transition: 0.25s;
          cursor: pointer;


          &:hover,
          &:focus {
            border-color: var(--hover);
            color: #fff;
          }
        }
        button {
          background: none;
          border: 2px solid;
          font: inherit;
          line-height: 1;
          margin: 0.5em;
          padding: 1em 2em;
        }
      }
    }
  }
}
