.hero-home{
  font-family: 'Poppins';
  background-color: #0B0A0F;
  height: 100vh;
  width: 100vw;

  .initial-hello{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    user-select: none;
    flex-direction: column;
    .content{
      display: flex;
      flex-direction: column;

      .midHello{
        width: 100%;
      }

      svg{
        width: 100%;
        padding-right: 4px;
      }
      .hii1{
        transform: translateY(177px);
        opacity: 0;
      }
      .hii2{
        transform: translateY(87px);
        opacity: 0;
      }
      .hii3{
        transform: translateY(-93px);
        opacity: 0;
      }
      .hii4{
        transform: translateY(-183px);
        opacity: 0;
      }
    }
  }

  .title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 10%;
    width: 40%;
    z-index: 2;

    h4{
      color: #fff;
      font-size: 1rem;
    }
    h2{
      font-size: 3em;
      color: #a753ec;
    }
    .role{
      font-size: 2em;
      color: #fff;
    }
    .desc{
      font-size: 1em;
      color: #fff;
    }
  }


  .hero-home-btn {
    .up:hover,
    .up:focus {
      box-shadow: inset 0 -3.25em 0 0 var(--hover);
      cursor: pointer;
    }
  }

  .shapes{
    width: 100%;
    height: 100vh;

    .sideLine{
      position: absolute;
      top: 32%;
      left: 8%;
      height: 40%;
    }

    .bigCir{
      position: absolute;
      top: 50%;
      left: 38%;
      height: 20%;
    }
    .svg3{
      position: absolute;
      top: 10%;
      left: 10%;
      height: 8%;
    }
    .svg4{
      position: absolute;
      top: 20%;
      right: 10%;
      height: 8%;
    }
    .svg5{
      position: absolute;
      bottom: 10%;
      right: 10%;
      height: 8%;
    }
  }

}

$colors: (
  up: #e4cb58, 
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #ec5367;
    --hover: #ec5367;
  }
}
button {  
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #fff;
  }
}
button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  padding: 1em 2em;
}