@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');


.load-page{
   position: absolute;
   inset: 0; 
   display:flex;
   justify-content: center;
   align-items: center;
   
    .load-screen{
        position: relative;
        background: black;
        z-index: 50;
        width: 100%;

        .motionSvg{
            position: absolute;
            z-index: 50;
            display: flex;
        }

        .svg1{
            width: 100%;
            height: 100%;
            
            .svg2{
                width: 100%;
                height: 100%;
                color: gray;
                fill: currentColor;
            }
        }
        .text1{
            font-size: 50px;
            font-weight: bold;
            fill: currentColor;
        }
    }
}




// .loading-screen {
//     position: relative;
//     padding-left: 0;
//     padding-right: 0;
//     padding-top: 0;
//     background: #050404;
//     z-index: 999;
//     width: 100%;
//     height: 100%;
// }
// .load-container {
//     position: fixed;
//     top: 0;
//     right: -100%;
//     width: 100%;
//     height: 100vh;
//     z-index: 999;
//     pointer-events: none;
// }


.home-page{
    .home-back-tag{
        position: absolute;
        left: 9%;
        color: #aec5ff21;
        top: 24%;
        font-family: 'PT Sans Caption', sans-serif;
        font-size: 130px;
        font-weight: 600;
        user-select: none;
        z-index: -1;
    }
    .text-zone{
        position: absolute; 
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        user-select: none;
        max-height: 90%;
    }
    h1{
        color: #fff;
        font-size: 60px;
        margin: 0;
        font-family: 'PT Sans', sans-serif;
        user-select: none;
        font-weight: 200;
    }
}
h2{
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Baloo Da 2', cursive;
    user-select: none;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.0s backwards;
}

.flat-button{
    color: #b879ff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: 'Baloo Da 2', cursive;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid rgb(197, 72, 255);
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.0s backwards;
    white-space: nowrap;

    &:hover{
        background: #a450e9;
        color: rgb(215, 215, 215);
    }
}

#name-logo{
    opacity: 0;
    position: absolute;
    top: 14%;
    left: 20%;
    width: 250px;
    transition: all 1s;
}