.projects-wrapper{
    background-color: #1F1F1F;
    font-family: 'Poppins';
    height: 720vh;


    .project-heading{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        background-color: #8b3bdb;

        .ml6P {
            position: relative;
            font-weight: 900;
            font-size: 8.3em;
            width: 100%;
            top: -5%;
            left: 20%;
            @media screen and (max-width: 450px){
                font-size: 4em;
                width: 100%;
                top: -15%;
                left: 0%;
            }
        }
        
        .ml6P .text-wrapper-p {
            position: relative;
            display: inline-block;
            padding-top: 0.2em;
            padding-right: 0.05em;
            padding-bottom: 0.1em;
            overflow: hidden;
        }
        
        .ml6P .letterP {
            display: inline-block;
            line-height: 1em;
            color: #1F1F1F;
        }
        .about-project{
            transform: translateY(100px);
            opacity: 0;
            position: relative;
            top: -5%;
            left: -2%;
            font-family: 'Poppins';
            color: #fff;
            font-size: 30px;
            width: 50%;

            @media screen and (max-width: 450px) {
                font-size: 20px;
                top: -15%;
                left: 1%;
                width: 90%;
            }
        }

        .shapes{
            height: 100vh;
            width: 100%;
            position: absolute;

            .c1{
                position: absolute;
                width: 428px;
                height: 428px;
                left: -157px;
                top: -70px;
                @media screen and (max-width: 450px){
                    left: -183px;
                    top: -250px;
                }
            }
            .c2{
                position: absolute;
                width: 335px;
                height: 334px;
                left: 1087px;
                top: 271px;
                @media screen and (max-width: 450px){
                    display: none;
                }
            }
            .sc1{
                position: absolute;
                height: 7%;
                left: 69%;
                top: 75%;
            }
            .c3{
                position: absolute;
                height: 35%;
                left: 5%;
                top: 60%;
            }
        }
    }

    .first-project{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        background-color: #1F1F1F;

        .pOne{
            position: relative;
            right: -30%;
            top: 24%;
            @media screen and (max-width: 450px) {
                right: -5%;
                top: 24%;
            }
            h2{
                font-size: 15em;
                color: #a71aff;
            }
        }
        .image-one{
            position: relative;
            top: 10%;
            left: 15%;
            @media screen and (max-width: 450px) {
                top: 15%;
                left: 0%;
            }
            h2{
                font-size: 3em;
                color: #a71aff;
                user-select: none;
                position: relative;
                right: -40%;
                top: 40%;
                @media screen and (max-width: 450px) {
                    right: -5%;
                    top: 0%;
                    width: 69%;
                    z-index: 1;
                    font-size: 40px;
                }
            }
            img{
                width: 69%;
                @media screen and (max-width: 450px) {
                    width: 70%;
                    opacity: 0.7;
                    position: relative;
                    left: 12%;
                }
            }
        }
        .detailsOne{
            p{
                position: relative;
                left: 5%;
                top: 20%;
                width: 32%;
                color: #ddd;
                text-align: justify;
                @media screen and (max-width: 450px) {
                    left: 5%;
                    top: 30%;
                    width: 85%;
                }
            }
        }
        .p-shapes-1{
            position: absolute;
            top: 0;
            z-index: -2;
            left: 0;
            height: 100vh;
            .f-c1{
                position: relative;
                height: 40%;
                left: -40%;
                top: 69%;
            }
            .f-c3{
                position: relative;
                width: 206px;
                height: 206px;
                left: 1288px;
                top: 825px;
            }
            @media screen and (max-width: 450px){
                display: none;
            }
        }
    }

    .second-project{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        margin-top: 30%;
        background-color: #1F1F1F;
        @media screen and (max-width: 450px){
            margin-top: 70%;
        }

        .pTwo{
            position: relative;
            left: -35%;
            top: 25%;
            @media screen and (max-width: 450px) {
                left: -10%;
                top: 30%;
            }
            
            h2{
                font-size: 15em;
                color: #a71aff;
            }
        }
        .image-two{
            position: relative;
            top: 0%;
            left: 1%;
            @media screen and (max-width: 450px) {
                top: 25%;
                left: 0%;
            }

            h2{
                font-size: 3em;
                color: #a71aff;
                user-select: none;
                position: relative;
                left: -20%;
                top: 40%;
                @media screen and (max-width: 450px) {
                    left: 10px;
                    top: 0%;
                    width: 70%;
                    z-index: 1;
                    font-size: 40px;
                }
            }
            img{
                width: 75%;
                height: 80%;
                @media screen and (max-width: 450px) {
                    width: 70%;
                    opacity: 0.7;
                    position: relative;
                    left: 12%;
                }
            }
        }
        .detailsTwo{
            p{
                position: relative;
                left: 66%;
                top: 0%;
                width: 26%;
                color: #ddd;
                text-align: justify;
                @media screen and (max-width: 450px) {
                    left: 5%;
                    top: 65%;
                    width: 85%;
                }
            }
        }
        .p-shapes-2{
            position: relative;
            top: 0;
            z-index: -2;
            left: 0;
            height: 100vh;
            .s-c1{
                position: relative;
                width: 206px;
                height: 206px;
                left: 1223px;
                top: 639px;
            }
            @media screen and (max-width: 450px){
                display: none;
            }
        }
    }
    
    .third-project{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30%;
        height: 100vh;
        background-color: #1F1F1F;
        @media screen and (max-width: 450px){
            margin-top: 60%;
        }
        
        .pThree{
            position: relative;
            right: -30%;
            top: 10%;
            @media screen and (max-width: 450px) {
                right: -5%;
                top: 35%;
            }
            h2{
                font-size: 15em;
                color: #a71aff;
            }
        }
        .image-three{
            position: relative;
            top: 0%;
            left: 20%;
            @media screen and (max-width: 450px) {
                top: 30%;
                left: 0%;
            }
            h2{
                font-size: 3em;
                color: #a71aff;
                user-select: none;
                position: relative;
                left: 45%;
                top: 35%;
                @media screen and (max-width: 450px) {
                    left: 10px;
                    top: 0%;
                    width: 70%;
                    z-index: 1;
                    font-size: 40px;
                }
            }
            img{
                width: 60%;
                height: 125%;
                @media screen and (max-width: 450px) {
                    width: 70%;
                    opacity: 0.7;
                    position: relative;
                    left: 12%;
                }
            }
        }
        .detailsThree{
            p{
                position: relative;
                left: 5%;
                top: 40%;
                width: 30%;
                color: #ddd;
                text-align: justify;
                @media screen and (max-width: 450px){
                    left: 5%;
                    top: 92%;
                    width: 80%;
                }
            }
        }
        .p-shapes-3{
            position: absolute;
            top: 0;
            z-index: -2;
            left: 0;
            height: 100vh;

            svg{
                position: relative;
                bottom: -60%;
                left: 50%;
                height: 35%;
            }
            @media screen and (max-width: 450px){
                display: none;
            }
        }
    }
    
    .fourth-project{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30%;
        height: 100vh;
        background-color: #1F1F1F;
        @media screen and (max-width: 450px){
            margin-top: 55%;
        }
        
        .pFour{
            position: relative;
            left: -30%;
            top: 10%;
            @media screen and (max-width: 450px) {
                left: -5%;
                top: 35%;
            }
            h2{
                font-size: 15em;
                color: #a71aff;
            }
        }
        .image-four{
            position: relative;
            top: 0%;
            left: 0%;
            @media screen and (max-width: 450px) {
                top: 30%;
                left: 0%;
            }
            h2{
                font-size: 3em;
                color: #a71aff;
                user-select: none;
                position: relative;
                right: 20%;
                top: 20%;
                @media screen and (max-width: 450px) {
                    left: 10px;
                    top: 0%;
                    width: 80%;
                    z-index: 1;
                    font-size: 40px;
                }
            }
            img{
                width: 75%;
                height: 60%;
                @media screen and (max-width: 450px) {
                    width: 70%;
                    opacity: 0.7;
                    position: relative;
                    left: 12%;
                }
            }
        }
        .detailsFour{
            p{
                position: relative;
                left: 84%;
                top: -50%;
                width: 41%;
                color: #ddd;
                text-align: justify;
                @media screen and (max-width: 450px){
                    left: 5%;
                    top: 130%;
                    width: 80%;
                }
            }
        }
        .p-shapes-4{
            position: absolute;
            top: 0;
            z-index: -2;
            left: 0;
            height: 100vh;

            svg{
                position: relative;
                bottom: -60%;
                left: 75vw;
                height: 35%;
            }
            @media screen and (max-width: 450px){
                display: none;
            }
        }
    }

}

